.navbar{
    border-radius: 0;
}

.navbar-brand span{
margin-right: 10px;
}

.breadcrumb{
    background: none;
}

.breadcrumb a{
    color: gray;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

.footer .navbar{
    padding: 0;
    margin: 0;
}

.j-modalinfo{
text-align:left;
}

.jgallerymodal{
cursor:pointer;
margin-bottom:2em;
}

.j-gallery-p{
margin:0 0 40px 20px;
}

.fa-facebook-square{
color:blue;
font-size: 40px;
transition: transform 0.4s;
margin-right:5px;
 cursor: pointer;
}
.fa-facebook-square:hover{
    transform: scale(1.5);
}

.fa-twitter{
color:lightblue;
font-size: 40px;
transition: transform 0.4s;
margin-right:80px;
 cursor: pointer;
}
.fa-twitter:hover{
transform: scale(1.5);
}
.j-form
{margin-bottom:5em;
}
